.navbar
  .navbar-inner
    %ul.nav
      %li
        = form_tag('/search/', method: 'get') do
          = text_field_tag :query, params[:query], placeholder: "Search for shirts"
          = text_field_tag :color, params[:color], placeholder: "Pick a color (optional)"
          = search_field_tag(:page)
          = submit_tag('Search')





.row
  .col-md-1
  .col-md-10
    - @items.each do |item|
      .panel.panel-primary
        .panel-heading
          %h3.panel-title
            = link_to item["title"], item["originalUrl"]
        .panel-body
          - if item["code"] == "4662B"
            You have an account with this distributor
          - else
            You need to sign up with this distributor to view prices
        .panel-body
          - if item["salePrice"].blank?
            No price available
          - else
            = "$#{item["salePrice"]}"
        .panel-body
          = item["color"]
        .panel-body
          = item["source"]
        .panel-body
          - code = item["code"]
          = link_to "View item", "http://temporaryshirts.herokuapp.com/itemcode?code=#{code}"


  .col-md-1


